{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstratp css-->
    <link rel="stylesheet" href="{% static '/todo/bootstrap/bootstrap.css' %}">
    <title>
        {% if title %}
        {{ title }}
        {% endif %} | TODO Project
    </title>
    <style>
        .taskCard {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
    <script src="{% static 'todo/js/jquery.js' %}"></script>
    <script src="{% static 'todo/js/main.js' %}"></script>
</body>

</html>