{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center text-info " style="margin-bottom: 10px">Profile</h1>
    <div class="card" style="width: 36rem; margin-left: 341px;margin-bottom: 30px">
        {% if user.is_authenticated %}
            {% if profile %}
                <div class="card-body">
                    <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Age: {{ profile.age }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Qualification: {{ profile.degree }}</h6>
                    <p class="card-text">Description: {{ profile.description }}</p>
                <small>{{ profile.created_at }}</small>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div style="margin-top: 30px">
        <button type="button" id="btn" class="btn btn-primary">Edit or Create Profile</button>
    </div>
    <div id="form" style="margin-top: 30px;">

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                {{ form.last_name }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Qualifications</label>
                {{ form.degree }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Age</label>
                {{ form.age }}
            </div>
            {#        <p><a style="text-decoration: none" href="{% url 'password_reset' %}">forgot or reset password</a></p><br>#}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <script>
            $("#btn").click(function () {
                $("#form").toggle(1000)
            })
        </script>

{% endblock %}