<script>

    // Insert data into database
    $('#btnsave').click(function (e) {
        e.preventDefault()
        output = ""
        let sid = $("#stuId").val();
        let name = $("#nameId").val();
        let email = $("#emai1Id").val();
        let password = $("#passwordId").val();
        let csr = $("input[name=csrfmiddlewaretoken]").val();


        if (name == "") {
            console.log("Please Enter your name: ")
        }
        if (email == "") {
            console.log("Please Enter your email: ")
        }
        if (password == "") {
            console.log("Please Enter your password: ")
        } else {
            {#console.log(name,email,password)#}
            let myData = {stuid: sid, name: name, email: email, password: password, csrfmiddlewaretoken: csr};
            $.ajax({
                url: '{% url 'save_data' %}',
                method: "POST",
                data: myData,
                dataType: 'json',
                success: function (data) {
                    {#console.log(data.status);#}
                    x = data.student_data

                    if (data.status == "Save") {
                        $('#msg').text("Form submitted successfully")
                        $('#msg').show()
                        {#console.log();#}
                        {#console.log(data.student_data);#}
                        for (let i = 0; i < x.length; i++) {
                            output += "<tr>" +
                                "<td>" + x[i].id + "</td>" +
                                "<td>" + x[i].name + "</td>" +
                                "<td>" + x[i].email + "</td>" +
                                "<td>" + x[i].password + "</td>" +
                                "<td>" +
                                "<input type='button' data-sid=" + x[i].id + " class='btn btn-warning btn-sm' id='edit-btn' value='Edit'>" +
                                "<input type='button' data-sid=" + x[i].id + " class='btn btn-danger btn-sm' id='del-btn' value='Delete'>" +
                                "</td>" +
                                "</tr>"
                        }
                        $("#tbody").html(output);
                        $('#stuId').val('')
                        $('form')[0].reset();
                        {#sid = $("#stuId").reset();#}
                        {#name = $("#nameId").reset();#}
                        {# email = $("#emai1Id").reset();#}
                        {#password = $("#passwordId").reset();#}
                    }
                    if (data.status == 0) {
                        console.log("Unable to Save form")
                        $('#msg').text("Unable to Save form")
                        $('#msg').show()
                        $('#stuId').val('')
                        $('form')[0].reset();
                    }
                }
            })
        }
    });


    // detele data
    $('tbody').on('click', "#del-btn", function () {
        console.log("Deleted click")
        let id = $(this).attr('data-sid')
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        console.log(id)
        mydata = {sid: id, csrfmiddlewaretoken: csr};
        mythis = this
        $.ajax({
            url: "{% url 'delete_data' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                //console.log(data)
                if (data.status == 1) {
                    $('#msg').text("Data deleted successfully")
                    $('#msg').show()
                    {#console.log("Data deleted successfully")#}
                    $(mythis).closest("tr").fadeOut()
                }
                if (data.status == 0) {
                    {#console.log("Unable to delete data")#}
                    $('#msg').text("Unable to delete data")
                    $('#msg').show()
                }

            }
        })
    })


    //Edit or update data
    $('tbody').on('click', "#edit-btn", function () {
        console.log("Edit click")
        let id = $(this).attr('data-sid')
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        console.log(id)
        mydata = {sid: id, csrfmiddlewaretoken: csr};
        mythis = this
        $.ajax({
            url: "{% url 'edit_data' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                console.log(data)
                $('#stuId').val(data.id)
                $('#nameId').val(data.name)
                $('#emai1Id').val(data.email)
                $('#passwordId').val(data.password)

            }
        })
    })


</script>